<h1>Add a movie here!</h1>

<%= @errors %>

<form action="/movies/new" method="post">
  <label for="title">Movie Title</label>
  <input type="text" name="title" id="title">
  <br>

  <label for="release_year">Release Year</label>
  <input type="text" name="release_year" id="release_year">
  <br>

  <label for="runtime">Run Time</label>
  <input type="text" name="runtime" id="runtime">
  <br>

  <input type="submit" value="Submit">
</form>
